parameters:
    database_host:     database
    database_port:     ~
    database_name:     api_platform
    database_user:     api_platform
    database_password: api_platform

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    cors_allow_origin: http://localhost
